ZeroNet allows for arbitrary sites to be added to the client

ZeroNet allows for arbitrary websites to added to the client at random, without authentication or any checking that the user would actually want this.

For example, a website (on ZeroNet or elsewhere) could embed hidden image tags like this:
`<img src='http://127.0.0.1:43110/1HeLLo4uzjaLetFx6NH3PMwFP3qbRbTf3D' style='display: none;'>`

This triggers the user's client to automatically add the site.

I think there needs to be some sort of confirmation process that happens.

Do you have any suggestions to detect real browser opening?
It could be possible to check http headers, but I'm not sure how reliable it is when using less-known features like
```
<link rel="prefetch" href="http://127.0.0.1:43110/1HeLLo4uzjaLetFx6NH3PMwFP3qbRbTf3D">
```

Yeah, I don't believe it would be possible to catch all "fake" requests like that.

Though couldn't ZeroNet simply not add the site if it is not requested during a real user session, and if it is a real session, display a notification that a new site has been added?

There are legitimate reasons for requesting other websites content, after all, hotlinking is actually good on ZeroNet.

I definitely saw prompt on some ZN sites, like "This is new zite for you, do you want to add it and continue?". Would be nice to have it everywhere.

I have added some restriction, so loading site as image/prefetch should no longer work. https://github.com/HelloZeroNet/ZeroNet/commit/86b0046f287f1a24a9fcb216fd1a31ea49823ee6
It's not final solution, but better solution (testing if rendering and js execution avalible) needs more changes.

Looks like a good start. I'll investigate further & try to find more methods to break & fix this, though one that comes to mind is `<iframe>`.

Using [`X-Frame-Options` header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options) for page requests that do not have wrapper nonce can be a good idea. When a request includes a valid wrapper nonce, turn off this header. Requested site should not be seeded unless the request is valid, including having a valid wrapper nonce.

However,
- `X-Frame-Options: DENY` will break all ZeroNet links that do not have a `target=_top` attribute.
- `ALLOW-FROM` is [not yet supported](https://www.owasp.org/index.php/Clickjacking_Defense_Cheat_Sheet#Defending_with_X-Frame-Options_Response_Headers) by Chrome.

- This seems to be invalid. Examples from the Internet always put an __origin__ there.
```
X-Frame-Options: ALLOW-FROM http://127.0.0.1:43110/1SitEAdDREssYkGmy3FdyNjEb1wsDagkPb/
```

The [RFC](https://tools.ietf.org/html/rfc7034) says:
```
ALLOW-FROM  (followed by a serialized-origin [RFC6454])
      A browser receiving content with this header MUST NOT display this
      content in a frame from any page with a top-level browsing context
      of different origin than the specified origin.  While this can





Ross & Gondrom                Informational                     [Page 4]

 
RFC 7034                     X-Frame-Options                October 2013


      expose the page to risks by the trusted origin, in some cases, it
      may be necessary to allow the framing by content from other
      domains.

   The meaning of the term "serialized-origin" is given in [RFC6454].
   If the ALLOW-FROM value is used, it MUST be followed by a valid
   origin [RFC6454] (as a subset of the URI [RFC3986]).

   Any data beyond the domain address (i.e., any data after the "/"
   separator) is to be ignored. 
```

A good news is that, the `frame-ancestors` directive the [`Content-Security-Policy` header](https://www.owasp.org/index.php/Content_Security_Policy_Cheat_Sheet) "obsoletes the `X-Frame-Options` header," but most of CSP directives only use the origin in the given source, ignoring the rest of the URI.

Here is a list of source list formats: https://www.w3.org/TR/CSP2/#source_list
Here is a list of defined CSP directives: https://www.w3.org/TR/CSP2/#directives

![GREAT FAILURE for attackers](https://cloud.githubusercontent.com/assets/24784041/21629167/7520e3c2-d21d-11e6-810f-6556763fe960.png)

